{% extends "base.html" %}
{% block body_block %}

  <div class="margin100tp"></div>



<div class="card text-center" id="reg">
  <div class="card-header">
    Change Password
  </div>
  <div class="card-body">
{% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-danger">Change password</button>
    </form>
  </div>
</div>
{% else %}
  <h2>Sorry you are not logged-in to change password</h2>

  {% endif %}
  <div class="margin200tp"></div>


{% endblock %}
